.input {
  background-color: transparent;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  transition: all 0.1s ease-in-out;
  color: var(--text-default);
  outline: none;
  border-radius: 0.8rem;
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
}

.input:focus{
  border: 0.2rem solid var(--primary);  
}

 .input::placeholder{
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
 }
