.cycles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.cycleDots{
  display: flex;
  gap: 0.4em;
}

.cycleDot{
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
  
  flex-direction: column;
}

.workTime{
  background-color: var(--warning);
}

.shortBreakTime{
  background-color: var(--primary);
}

.longBreakTime{
  background-color: var(--info);
}