.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary) ;
  border: none;
  color: var(--text-over-primary);
  border-radius: 0.8rem;
  min-width: 22rem;
  padding: 0.8rem;
  margin: 4.8rem 0;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover{
  filter: brightness(80%);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.green{
  background: var(--primary);
  color: var(--text-over-primary);
}

.red{
  background: var(--error);
  color: var(--text-over-error);
}